/db/*.sqlite3
/db/*.sqlite3-journal
.byebug_history
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/*
!/log/.keep
/tmp
/vendor/assets/bower_components
/vendor/cache
/vendor/bundle
/vendor/ruby
/coverage
*.gem
*.rbc
.bundle
.config
.yardoc
.coveralls.yml
*.swp
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tmp
.*~
*~
